# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/

# Logs
*.log

# Generated
*.lock

# API keys & secrets
.env
lib/secrets.dart